@page "/categories/{Id:int}"
@using Client
@using FolkDanceTime.Web.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject ICategoryClient CategoryClient
@inject ISnackbar Snackbar

<PageTitle>Category</PageTitle>

<MudStack Row Justify="Justify.SpaceBetween">
    <MudText Typo="Typo.h4">Category Details</MudText>
    @if(editing)
    {
        <MudButtonGroup>
            <MudIconButton
                Color="Color.Primary"
                Icon="@Icons.Filled.Save"
                OnClick="@Confirm"
            />
            <MudIconButton
                Color="Color.Default"
                Icon="@Icons.Filled.Cancel"
                OnClick="@Cancel"
            />
        </MudButtonGroup>
    }
    else
    {
        <MudIconButton
            Color="Color.Primary"
            Icon="@Icons.Filled.Edit"
            OnClick="@StartEditing"
        />
    }
</MudStack>

@if (category == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(editing)
    {
        <MudStack Spacing="2">
            <MudTextField
                Label="Name"
                InputType="InputType.Text"
                AutoFocus="true"
                Variant="Variant.Outlined"
                @bind-Value="@category.Name"
            />
            @foreach(var property in category.Properties)
            {
                <MudStack Row Spacing="1">
                    <MudTextField
                        Label="@currentCategory.Properties.FirstOrDefault(p => p.Id == property.Id)?.Name"
                        Variant="Variant.Outlined"
                        InputType="InputType.Text"
                        @bind-Value="@property.Name"
                    />
                    <MudIconButton
                        Color="Color.Error"
                        Icon="@Icons.Filled.RemoveCircle"
                        OnClick="@(()=>DeleteProperty(property))"
                    />
                </MudStack>
            }
            <MudStack Row Justify="Justify.FlexEnd">
                <MudButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    StartIcon="@Icons.Filled.AddCircle"
                    OnClick="@AddProperty"
                >
                    Add Property
                </MudButton>
            </MudStack>
        </MudStack>
    }
    else
    {
        <MudStack Spacing="2">
            <MudField>
                @category.Name
            </MudField>
            @foreach(var property in category.Properties)
            {
                <MudField Label="Property">
                    @property.Name
                </MudField>
            }
            <MudText Typo="Typo.h5">Items</MudText>
            <MudGrid Spacing="2">
                @foreach (var item in category.Items)
                {
                    <MudItem>
                        <ItemCard
                            Item="@item"
                            OnDelete="@OnDelete"
                        />
                    </MudItem>
                }
            </MudGrid>
        </MudStack>
    }
}

@code {
    [Parameter]
    public int Id { get; set; }

    private CategoryDto category;
    private CategoryDto currentCategory;

    private bool editing = false;

    protected override async Task OnInitializedAsync()
    {
        category = await CategoryClient.GetCategoryAsync(Id);
    }

    protected void DeleteProperty(PropertyDto property)
    {
        category.Properties = category.Properties
            .Where(p => p.Id != property.Id || p.Name != property.Name)
            .ToHashSet();
    }

    protected void AddProperty()
    {
        category.Properties.Add(new PropertyDto { Name = "" });
    }

    protected void StartEditing()
    {
        currentCategory = new CategoryDto();
        currentCategory.Id = category.Id;
        currentCategory.Name = category.Name;
        currentCategory.Properties = category.Properties.Select(p =>
            new PropertyDto
            {
                Id = p.Id,
                Name = p.Name,
            }
        ).ToList();

        editing = true;
    }

    protected void Cancel()
    {
        category = currentCategory;
        editing = false;
    }

    protected async Task Confirm()
    {
        if (category.Name == "" || category.Properties.Any(p => p.Name == "")) return;

        try
        {
            var editedCategory = await CategoryClient.EditCategoryAsync(category, Id.ToString());
            category = editedCategory;
        }
        catch (Exception e)
        {
            Snackbar.Add("Category name must be unique!", Severity.Error);
            category = currentCategory;
        }
        finally
        {
            editing = false;
        }
    }

    protected void OnDelete(ItemDto item)
    {
        category.Items.Remove(item);
    }
}
