@page "/item-sets/{Id:int}"
@using Client
@using FolkDanceTime.Web.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject IItemClient ItemClient
@inject IItemSetClient ItemSetClient
@inject ISnackbar Snackbar

<PageTitle>Item Set</PageTitle>

<MudStack Row Justify="Justify.SpaceBetween">
    <MudText Typo="Typo.h4">Item Set Details</MudText>
    @if(editing)
    {
        <MudStack Row Justify="Justify.FlexEnd">
            <MudButtonGroup>
                <MudIconButton
                    Color="Color.Primary"
                    Icon="@Icons.Filled.Save"
                    OnClick="@Confirm"
                />
                <MudIconButton
                    Color="Color.Default"
                    Icon="@Icons.Filled.Cancel"
                    OnClick="@Cancel"
                />
            </MudButtonGroup>
        </MudStack>
    }
    else
    {
        <MudIconButton
            Color="Color.Primary"
            Icon="@Icons.Filled.Edit"
            OnClick="@StartEditing"
        />
    }
</MudStack>

@if (itemSet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(editing)
    {
        <MudStack Spacing="2">
            <MudTextField
                Label="Name"
                InputType="InputType.Text"
                AutoFocus="true"
                Variant="Variant.Outlined"
                @bind-Value="@itemSet.Name"
            />
            @if(itemsOfSetOwner == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach(var item in itemsOfSetOwner)
                {
                    <ItemInItemSet
                        Item="item"
                        Checked="@IsChecked(item)"
                        OnCheckChange="@((args)=> OnCheckChange(args.Item1, args.Item2))"
                        Disabled="@Disabled(item)"
                    />
                }
            }
        </MudStack>
    }
    else
    {
        <MudStack Spacing="2">
            <MudField>
                @itemSet.Name
            </MudField>
            @foreach(var item in itemSet.Items)
            {
                <BasicItemListView
                    Item="item"
                />
            }
        </MudStack>
    }
}

@code {
    [Parameter]
    public int Id { get; set; }

    private ItemSetDto itemSet;
    private ItemSetDto currentItemSet;
    private IEnumerable<ItemSetItemDto> itemsOfSetOwner;
    private bool editing = false;

    protected override async Task OnInitializedAsync()
    {
        itemsOfSetOwner = await ItemClient.GetItemsOfItemSetOwnerAsync(Id);
        itemSet = await ItemSetClient.GetItemSetAsync(Id);
    }

    protected void StartEditing()
    {
        currentItemSet = new ItemSetDto();
        currentItemSet.Id = itemSet.Id;
        currentItemSet.Name = itemSet.Name;
        currentItemSet.Items = itemSet.Items.Select(i => i).ToList();

        editing = true;
    }

    protected async Task Cancel()
    {
        itemSet = currentItemSet;
        editing = false;
    }

    protected async Task Confirm()
    {
        if (itemSet.Name == "") return;

        try
        {
            var editedItemSet = await ItemSetClient.EditItemSetAsync(itemSet, Id.ToString());
            itemSet = editedItemSet;
            itemsOfSetOwner = await ItemClient.GetItemsOfItemSetOwnerAsync(Id);
        }
        catch (Exception e)
        {
            Snackbar.Add("Item set name must be unique!", Severity.Error);
            itemSet = currentItemSet;
        }
        finally
        {
            editing = false;
        }
    }

    private bool IsChecked(ItemSetItemDto item)
    {
        return itemSet.Items.Any(iis => iis.Id == item.Id);
    }

    private bool Disabled(ItemSetItemDto item)
    {
        return item.IsInTransaction || (item.IsInItemSet && !currentItemSet.Items.Any(iis => iis.Id == item.Id));
    }

    private void OnCheckChange(bool checkedValue, ItemSetItemDto item)
    {
        if(checkedValue)
        {
            itemSet.Items.Add(new ItemDto{ Id = item.Id, Name = item.Name });
        }
        else
        {
            itemSet.Items = itemSet.Items.Where(i => i.Id != item.Id).ToList();
        }
    }

    Func<ItemDto, string> converter = i => i?.Name;
}
